<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="MotionTrackingCSharp.MotionTrackingCSharp" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="21" />
	<application android:label="MotionTrackingCSharp" android:icon="@drawable/Icon">
		<activity android:name=".StartActivity" android:screenOrientation="landscape" android:icon="@drawable/Icon"></activity>
		<activity android:name="com.projecttango.motiontrackingcsharp" android:label="@string/app_name" android:screenOrientation="landscape"></activity>
	</application>
</manifest>